<div id='home-wrapper'>
        <div id='text-wrapper'>
          <img src='assets\photos\festival-action-shot.jpg' alt='Trevor Smith on stage at the Heritage Jazz Festival with the Kansas City Latin Jazz Orchestra' id='header-img' />
          <div id='main-header'>
            <h1 id='main-header'>About Me</h1>
            <hr />
          </div>
          <div id='about-container'>
            <div id='first-p'>
              <p class='about-p'>I began my professional career in the early 2010s, playing the woodwind books in pit orchestras, selling the occasional composition, teaching saxophone and
                improvisation at the Southeast Missouri State University Music Academy, and performing jazz in the local clubs of my hometown, Cape Girardeau. During this time, I was studying
                music composition at Southeast Missouri State University, and trying to do just about everything else one could do in music when I wasn't writing. Because saxophones couldn't play
                in the orchestra, I began studying oboe and joined the orchestra - and the opera and musical pits - shortly thereafter.</p><br />
              <p class='about-p'>I graduated from Southeast Missouri State University <em>magna cum laude</em>, with an "Outstanding Music Student of the Year" award from faculty, and a
                Bachelor's Degree in Music Composition in 2014. After graduating, I quickly moved to Kansas City to pursue graduate studies and more regular work in music, enrolling in the
                University of Missouri-Kansas City Conservatory of Music and Dance in fall of the same year.</p>
            </div>
            <img src='assets\photos\semo-award.jpg' alt='Trevor Smith receiving an "Outstanding Music Student" award upon graduating from SEMO' id='award' class='about-img' />
            <img src='assets\photos\action-shot.jpg' alt='Trevor Smith performing on keyboard' id='action-shot' class='about-img' />
            <div id='second-p'>
              <p class='about-p'>In Kansas City, I continued to study composition formally at the UMKC conservatory while also performing on multiple instruments both in and outside of academic halls. In 2015,
                I met <a href='https://pablosanhuezamusic.com/' target='_blank' class='text-link'>Pablo Sanhueza</a> and joined his group "Kansas City Latin Jazz All-Stars" (soon to be re-named
                "Kansas City Latin Jazz Orchestra") as a keyboardist, and fatefully began what will become a lifelong study of - and appreciation for - Afro-Latin music and culture.</p><br />
              <p class='about-p'>Besides performing, I continued to compose music, completing my thesis "Five Ekmousikés" - a 50-minute work for solo piano dedicated to my illustrious grandmother, Dr.
                Janet Smith - in the winter of 2016 (achieving my Master's Degree in Music Composition, again <em>magna cum laude</em>). More recently, I scored the award-winning short film "R4CH43L",
                which won the bronze REMI award at the Houston Worldfest Film Festival in 2018 and was selected for showing at the 2019 Twin Cities Jewish Film Festival.</p>
            </div>
            <img src='assets\photos\BAM-recital-alt.jpg' alt='Trevor Smith at a Base Academy of Music recital' class='about-img' id='bam-img' />
            <div id='third-p'>
              <p class='about-p'>I also continued to teach music in both classroom and one-on-one settings. I've taught music theory with Composers in the Schools (a community outreach
              program at UMKC), volunteered as a music instructor for the Ivanhoe Community Center, and am currently a multi-instrumental instructor at the non-profit Base Academy of Music.</p><br />
              <p class='about-p'>These days, I find the most gratification in serving the communities I live and work in with my skills, teaching music lessons at a sliding scale rate to make access to music education
                more equitable, edifying as lead musician for our city's African Methodist Episcopal Ebenezer Church, and volunteering when I can. As a self-taught developer, I
                aspire to use my programming skills to further serve my community in the same way.</p>
            </div>
          </div>
        </div>
