<div id='home-wrapper'>
        <div id='intro-wrapper'>
          <img src='assets\photos\festival-action-shot.jpg' alt='Trevor Smith on stage at the Heritage Jazz Festival with Kansas City Latin Jazz Orchestra' id='header-img' />
          <div id='greeting-wrapper'>
            <div id='greeting'>
              <hr />
              <h3 id='greeting-header'>I'm a developer, musician, and educator based out of Kansas City, Missouri. I love using my skills to serve my community.</h3>
              <hr />
            </div>
            <div id='icons'>
              <a href='https://github.com/huntzinger92' target='_blank' class='icon-link'><i class="fab fa-github fa-3x" id='git'></i></a>
              <a href='https://twitter.com/MirthVoters' target='_blank' class='icon-link'><i class="fab fa-twitter fa-3x" id='twitter'></i></a>
            </div>
          </div>
        </div>
      </div>
