#music-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto;
  margin-top: 25px;
}

.nowrap {
  display: inline-block;
}

.container {
  grid-column: 2;
  padding-left: 0px; /* this got set to 40px somehow*/
}

.prompt-container {
  background-color: #f0f8fa;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  top: 20px;
  max-height: 95%;
  overflow-y: auto;
  z-index: 2;
  border-radius: 3px;
  padding: 10px;
}

.prompt {
  padding: 25px;
}

#main-header {
  font-size: 25px;
}

.donation-header {
  font-size: 22px;
}

#amount-settings-container {
  display: flex;
  justify-content: center;
}

#amount-display {
  display: flex;
  /*background-color: #31b543; <-- originally had a nice green background, but made div look like a button */
  /*color: white;*/
  background-color: #f0f8fa;
  margin-right: 20px;
}

#amount-text-container {
  display: flex;
  align-items: center;
}

#amount-header {
  font-size: 22px;
  margin: 1px 1px 1px 1px;
}

.donation-inputs {
  height: 50px;
  align-self: center;
}

#donation-form {
  align-self: center;
  margin-left: 5px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  height: 100%;
}

#amount-change-input {
  font-size: 22px;
  font-weight: bold;
  max-width: 50px;
  border: 0px;
  margin-left: 4px;
  margin-right: 2px;
  background-color: #f0f8fa;
}

#decline-button-container {
  background-color: #f0f8fa;
  display: flex;
}

#decline-button {
  font-size: 22px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #f0f8fa;
  align-self: center;
  justify-self: center;
  width: 100%;
  height: 100%;
}

#decline-button:hover {
  background-color: black;
  color: white;
}

#paypal-container {
  margin: auto;
}

.hide {
  display: none;
}

.mute {
  opacity: .33;
  z-index: 1;
}

.entry {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  justify-items: center;
  margin-bottom: 35px;
  background-color: #f0f0f0;
  border: 1px solid rgba(0,0,0,.75);
  border-radius: 4px;
  padding: 8px;
}

#ekmousike-entry {
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr auto auto;
  grid-row-gap: 15px;
  grid-column-gap: 25px;
  padding: 15px;
}

#sunset {
  width: 100%;
  height: auto;
  grid-column: 1;
  grid-row: 2;
}

#trifid {
  width: 100%;
  height: auto;
  grid-column: 1;
  grid-row: 3;
}

#ekmousike-list {
  list-style: none;
}

.entry-header {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
  text-align: center;
}

.entry-img {
  grid-column: 1;
  grid-row: 2;
  border: 1px solid rgba(0,0,0,.1);
  width: 90%;
  height: auto;
  margin-bottom: 15px;
}

#R4CH43L-img {
  width: 77%;
}

.entry-notes {
  grid-column: 2;
  grid-row: 2;
}

.entry-notes > p {
  margin-top: 3px;
}

#ekmousike-notes {
  grid-row-start: 2;
  grid-row-end: 4;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;
  background-color: black;
  height: 1px;
  opacity: .5;
}

.line-top {
  margin-top: 15px;
  margin-bottom: 10px;
}

.line-bottom {
  margin-top: 10px;
  margin-bottom: 15px;
}

.link-wrapper {
  margin-bottom: 10px;
}

.description-link {
  color: black;
  font-weight: 620;
  text-decoration: none;
  margin: auto 3px;
}

.description-link:hover {
  text-decoration: underline;
  text-decoration-color: black;
}

@media (max-width: 1200px) {
  #music-wrapper {
    grid-template-columns: 1fr 6fr 1fr;
  }

  #R4CH43L-img {
    width: 65%;
  }
}

@media (max-width: 1000px) {
  #music-wrapper {
    grid-template-columns: 50px 1fr 50px;
  }
  #R4CH43L-img {
    width: 65%;
  }
  #isolation-chamber-img {
    width: 75%;
  }
  #colters-hell-img {
    height: 90%;
  }
}

@media (max-width: 800px) {
  .entry {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    justify-content: center;
  }
  .enter-header {
    grid-column-end: 2;
  }
  .entry-img {
    grid-row: 2;
    width: 50%;
  }
  .entry-notes {
    grid-row: 3;
    grid-column: 1;
    margin: auto 15px;
  }
  #colters-hell-img {
    width: 63%;
    height: auto;
  }
  #R4CH43L-img {
    width: 50%;
  }
  #ekmousike-entry {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto;
    grid-gap: 5px;
  }
  #trifid {
    grid-column: 1;
    grid-row: 2;
    width: 100%;
  }
  #sunset {
    grid-column: 2;
    grid-row: 2;
    width: 85%;
  }
  #voicings-sample {
    width: 85%;
  }
  #morgans-song-score {
    width: 85%;
  }
  #ekmousike-notes {
    grid-column: 1 / 3;
    grid-row: 3;
  }
  #isolation-chamber-img {
    width: 50%;
  }
}

@media (max-width: 900px) {
    .prompt-container {
      width: 70%;
    }
    #main-header {
      font-size: 18px;
    }
    .donation-header {
      font-size: 18px;
    }
    #amount-change-input {
      font-size: 18px;
      max-width: 35px;
    }
    #decline-button-container {
      height: 35px;
    }
    #decline-button {
      font-size: 18px;
    }
    #amount-display {
      height: 35px;
    }
  }

@media (max-width: 650px) {
  .prompt {
    padding: 8px;
  }
  #main-header {
    font-size: 14px;
  }
  .donation-header {
    font-size: 14px;
  }
  #amount-change-input {
    font-size: 14px;
    max-width: 35px;
  }
  #decline-button-container {
    height: 29px;
  }
  #decline-button {
    font-size: 14px;
  }
  #amount-display {
    height: 29px;
    margin-right: 7px;
  }
}

@media (max-width: 600px) {
  #music-wrapper {
    grid-template-columns: 15px 1fr 15px;
  }
  .donation-header {
    font-size: 14px;
  }
  #amount-changes-input {
    font-size: 14px;
  }
  #decline-button {
    font-size: 14px;
  }
}
